
@* Denna vyn syns bara i mailet och syns inte på sidan och är anpassad därefter, då min receipt vy tog med bootstrap kod och det såg dåligt ut *@

@{
    Layout = null;  //ta bort _Layout vyn så det inte visas i mailet
}

@model MallarEmelieMVC.Data.Model.Order

<h1>Ditt kvitto från <strong>MallarByEmelie</strong></h1>

<p>Tack för din beställning, @Model.FirstName!</p>

<p><strong>Ordernummer:</strong> @Model.OrderId</p>
<p><strong>Totalt belopp:</strong> @Model.Items.Sum(i => i.Price * i.Quantity).ToString("C")</p>

<p>
    Din order är nu registrerad och väntar på betalning.<br />
    Vänligen swisha beloppet <strong>@Model.Items.Sum(i => i.Price * i.Quantity).ToString("C")</strong>
    till <strong>073-5266141</strong> och ange <strong>ordernummer "@Model.OrderId"</strong> som swish kommentar.
</p>

<h4>Beställda artiklar:</h4>
<ul>
    @foreach (var item in Model.Items)
    {
        <li>@item.Quantity x @item.Template.Title - @item.Price.ToString("C")/st</li>
    }
</ul>

<p>Din orderbekräftelse finns även i din e-post, kolla även skräppost.</p>
<p>När betalningen är mottagen kommer vi att behandla din order.</p>
